{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>{% block title %}Encurtador de URLs{% endblock %}</title>
        <style>
            body {
                display: block;
                background: url({% static "blank-business-composition-373076.jpg" %});
                background-size: cover;
                background-repeat: no-repeat;
            }
            #menu {
                background: lightgray;
                padding: 14px 10px 0 0;
                border-radius: 6px;
                margin: 10px;
                border: solid 1px lightslategray;
                height: 2em;
                text-align: right;
            }
            #center_box {
                margin: 5% 25%;
                display: block;
                background: darkgray;
                padding: 30px 20px;
                border: solid 1px gray;
                border-radius: 5px;
                font-size: larger;
            }
            #center_box p {
                margin: 0px 0 20px 0
            }
            #url_curta {
                border: solid 1px;
                border-radius: 3px;
                padding: 0 0px 0 10px;
                margin: 10px 0;
                background: lightgray;
                height: 3em;
            }
            #url_curta a {
                margin-top: 1em;
                display: inline-block;
            }
            #copy_button {
                float: right;
                right: 0;
            }
            #menu a {
                border: solid 1px black;
                border-radius: 3px;
                padding: 8px;
                background: white;
                text-decoration: none;
                margin-right: .5em;
                color: black;
                text-shadow: lightgrey 1px 1px;
            }
            #menu em {
                float: left;
                margin-left: 20px;
            }
            #id_original {
                font-size: inherit;
                width: 80%;
                height: 3em;
                border: 0;
                padding: 0 10px;
            }
            input[type="button"], input[type="submit"] {
                padding: 0 15px;
                position: relative;
                height: 3em;
                border: 0;
                background: #1d2027;
                color: white;
                top: 0;
                right: 10px;
                font-size: inherit;
            }
            #short_url_list {
                margin: auto;
                width: 60%;
            }
        </style>
    </head>
    <body>
        <div id="menu">
            {% block menu %}Menu{% endblock %}
        </div>
        <div id="center_box">
            {% block content %}Conteúdo{% endblock %}
        </div>
        {% block user_links %}{% endblock %}
        {% block script %}{% endblock %}
    </body>
</html>
