{% extends "main/base.html" %}
{% load static %}

{% block menu %}
    {% if user.is_authenticated %}
            <em>Olá, {{ user.username }}</em>
            <a href="/logout">Sair</a>
    {% else %}
            <a href="/register">Cadastro</a>
            <a href="/login">Login</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if messages %}
            <ul>
        {% for message in messages %}
                <li>{{ message }}</li>
        {% endfor %}
            </ul>
    {% endif %}

            <p>{{ message }}</p>
            <form action="/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Encurte">
            </form>
    {% if short_url != '' %}
            <div id="url_curta">
                <a id="short_url" href="{{ short_url }}">{{ short_url }}</a><input id="copy_button" type="button" value="Copy" />
            </div>
    {% endif %}
{% endblock %}

{% block user_links %}
    {% if user.shorturl_set.count > 0 %}
        <div id="short_url_list">
            <h1>Seus links curtos</h1>
            <table>
        {% for su in user.shorturl_set.all %}
                <tr>
                    <td><a href="{{ su.get_shortened_url }}">{{ su.get_shortened_url }}</a></td>
                    <td>{{ su.original }}</td>
                </th>
        {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static "copy.js" %}"></script>
    <script>
        var copy_button = document.getElementById("copy_button");
        var short_url = document.getElementById("short_url");
        if(short_url != null) {
            addCopyToClipboard(copy_button, short_url);
        }
    </script>
{% endblock %}
