{% extends "main/base.html" %}

{% block title %}Cadastro{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
     <div class="login">

         {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h1>Criação de conta</h1>

         <form method="post" >
             {% csrf_token %}
             <table>
                {{ form.as_table }}
                 <tr>
                    <td></td>
                    <td><input type="submit" name="submit" value="Cadastrar" /></td>
                </tr>
             </table>
         </form>
     </div>
{% endblock %}
